<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login : Wacajou</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form method="post" action="/wacajou/message/send">
		<label for="title">Title :</label> 
		<input type="text" name="title" /><br />
		<label for="subject">Subject :</label> 
		<input type="text" name="subject" /><br />
		<label for="message">Message :</label> 
		<input type="text" name="message" /><br /> 
		<label for="user">User :</label> 
		<select th:field="${users}">
			<option th:each="user: ${users}" th:value="${user}"
				th:text="${user.login}" />
		</select> <input type="submit" value="Submit" />
	</form>
	<p th:text="${message}" />
</body>
</html>