<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Payraudeau Maxime" />
</head>
<body>
	<form class="col-lg-12 form-horizontal well" method="post" action="#" th:action="@{/user/add/process}">
		<div class="form-group">
			<label for="login">Identifiant :</label> 
			<input type="text" name="login" class="form-control"/>
		</div>
		<div class="form-group">	
			<label for="promo">Promotion :</label>
			<input type="text" name="promo" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="statut">Statut :</label>
			<select name="statut" class="form-control">
				<option th:each="statut: ${statuts}" th:value="${statut}" th:text="${statut}" />		
			</select>
		</div>
		<input type="submit" value="Créer l'utilisateur" class="btn btn-default btn-sm"/>
	</form>
</body>

</html>