<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="author" content="Payraudeau Maxime" />
</head>
<body>
	<form data-toggle="validator" role="form" class="form-horizontal well" enctype="multipart/form-data" method="post" action="#" th:action="@{/user/add/process}">
		<h3>Ajouter un ou plusieurs utilisateurs</h3>
		<div id="fileUser" class="form-group">
			<label for="login" class="control-label" >Identifiant :</label>
			<input type="text" id="login" pattern="[^'\x22\s=].{1,30}" name="login" class="form-control" />
			<p> or </p>
			<div class="input-group">
				<span class="input-group-addon">File :</span>
				<input type="file" id="login" name="file" class="form-control"/>
			</div>
			<div class="help-block with-error">Fichier CSV, XLS ou XLSX avec le login des users séparé par ; .</div>
		</div>
		<div class="form-group">
			<label for="promo" class="control-label">Promotion :</label>
			<select name="promo" class="form-control" required="required">
				<option th:each="promo: ${promos}" th:value="${promo}" th:text="${promo}" />		
			</select>	
		</div>
		<div class="help-block">Promotion pour les élèves. None pour l'équipe enseignante. </div>		
		<div class="form-group">
			<label for="statut" class="control-label">Statut :</label>
			<select name="statut" class="form-control" required="required">
				<option th:each="statut: ${statuts}" th:value="${statut}" th:text="${statut.message}" />		
			</select>
		</div>
		<div class="form-group" th:if="${userRight.equals(RespoPedagogique)}">
			<label for="parcours" class="control-label">Parcours :</label>
			<select name="parcours" class="form-control">
				<option th:each="parcours: ${Allparcours}" th:value="${parcours}" th:text="${parcours.name}" />
			</select>
		</div>
		<div th:unless="${userRight.equals(RespoPedagogique)}">
			<input type="hidden" value="${user.parcours}" />
		</div>
		<input type="submit" value="Créer l'utilisateur" class="btn btn-default btn-sm"/>
	</form>
	<script src="../js/validator.min.js" th:src="@{/js/validator.min.js}" type="text/javascript"></script>
</body>
</html>