<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Payraudeau Maxime" />

    <title>Wacajou - Profil </title>
	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	<script type="text/javascript">
function hideThis(_div){
    var obj = document.getElementById(_div);
    if(obj.style.display == "block")
        obj.style.display = "none";
    else
        obj.style.display = "block";
}
</script>
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" /> 

    <!-- Custom CSS -->
    <link href="../css/simple-sidebar.css" th:href="@{/css/simple-sidebar.css}" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
 <div id="wrapper">

       <div w3-include-html="/wacajou/sidebar"></div> 
       

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
  		        <div class="row" >
  		        	<div class="col-lg-2" >
  		        		<form class="form-horizontal well" action="#" th:action="@{/parcours/inscription/process}" th:object="${inscriptionParcoursForm}" method="POST" >
  		        			<div class="form-group">
								<label for="parcours" >Parcours :</label>
								<select name="parcours" class="form-control">
									<option value="" />
									<option th:each="parcours : ${Allparcours}" th:value="${parcours}" th:text="${parcours.name}" />
								</select>
							</div>
  		        			
  		        		</form>
  		        	</div>
  		        
  		        </div>
            </div>
        </div>
        
        
        
        
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
	<script>
	w3IncludeHTML();
	</script>
</body>

</html>